:root {
  --color-materialWhite: #fafafa;
  --color-registrationBlack: rgba(0, 0, 0, 1);
  --color-zinnwalditeBrown: rgba(47, 16, 0, 1);
  --color-sealBrown: rgba(98, 27, 0, 1);
  --color-traditionalBrown: rgba(148, 86, 0, 1);
  --color-burntOrange: rgba(199, 80, 0, 1);
}