main h2 {
  font-size: 2em;
  margin-bottom: .3em;
}

main a.listing {
  text-decoration: none;
  color: #000;
}

main a.listing h2 {
  color: var(--color-traditionalBrown);
}

main a.listing h2:hover {
  text-decoration: underline;
}

main a.listing .more {
  color: var(--color-traditionalBrown);
  padding: 1em 0;
}

main a.listing .more:hover {
  text-decoration: underline;
}

main .article-list li {
  padding: 2em 0;
  border-bottom: 1px dotted #ccc;
}

main .article-list .date {
  color: rgba(0,0,0,.4);
  font-size: .8em;
  margin-bottom: 1.6em;
}

main .article-list .summary {
  padding: .4em;
  line-height: 1.2em;
  color: rgba(0,0,0, .8);
}

main .single h1 {
  color: var(--color-traditionalBrown);
  font-size: 2em;
  margin-bottom: .3em;
}

main .single .date {
  color: rgba(0,0,0,.4);
  font-size: .8em;
  margin-bottom: 1.6em;
}

main .single .duration {
  font-size: .8em;
  font-style: italic;
  padding-bottom: 2em;
  border-bottom: 1px dotted #ccc;
}

main .contents {
  padding: .5em;
  border-bottom: 1px dotted #ccc;
}

main .contents p {
  line-height: 1.4em;
  padding: .8em 0;
  text-indent: 1.2em;
  color: rgba(0,0,0, .8);
}

main .contents p::first-letter {
  font-weight: bold;
  color: black;
  font-size: 1.3em;
}

main .share-heading {
  padding: 2em 1em 0 1em;
  color: rgba(0,0,0, .6);
}

main .SocialMediaShareButton {
  cursor: pointer;
  padding: .5em;
}

main .social-share>div {
  display: flex;
  padding: 1em;
}

main .highlight {
  padding: .5em;
}

main .highlight pre {
  padding: 1em;
  line-height: 1.3em;
  font-family: 'Source Code Pro', monospace;
  font-size: .9em;
}

@media only screen and (max-width: 767px) {
  main {
    padding: 5vw;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    padding: 4vw;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1025px) and (orientation: landscape) {
  main {
    margin-left: 16.6vw;
    width: 83.4vw;
    padding: 3% 3vw;
    font-size: 21px;
    overflow-x: hidden;
    max-width: 1200px;
  }
}