{{ define "main" }}

  <div class="single">
    <h1>{{.Title}}</h1>
    <div>
      <p class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p class="duration">~ Read in {{ .ReadingTime }} minutes ~</p>
    </div>
    <div class="contents">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    <h3 class="share-heading">Any good? Spread the word:</h3>
    <div class="social-share"></div>
  </div>
{{ end }}
